@{
    ViewData["Title"] = "バーコードの一括変換";
}

    <div class="text-center">
        <h1 class="display-4">バーコードの一括変換にようこそ！</h1>
        <p>
            アップロードしたExcelファイル(xlsx)に含まれているバーコードタグ部分にバーコードの画像を埋め込みます。<br />
            タグには「{EAN13:1234567890123}」のように、バーコードの種類：バーコードのデータを記して、{}で囲みます。<br />
            <a href="barcodesample.xlsx">サンプル(barcodesample.xlsx)</a><br />
        </p>
        <p>
            <form asp-controller="Home" enctype="multipart/form-data" asp-action="Index" method="post">
                ファイル:<input id="SourceFile" type="file" name="BarcodeSourceFile"/> <button type="submit">変換</button>
            </form>
        </p>
        <p>
            <br />
            <!-- admax -->
            <script src="https://adm.shinobi.jp/s/24a78a8b0f6cd2d5b0e3ecb10a997f06"></script>
            <iframe data-aa="1212959" src="//ad.a-ads.com/1212959?size=300x250" scrolling="no" style="width:300px; height:250px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
            <script src="https://adm.shinobi.jp/s/24a78a8b0f6cd2d5b0e3ecb10a997f06"></script>
            <!-- admax -->
            <br />
            <br />

            <script type="text/javascript">rakuten_design = "slide"; rakuten_affiliateId = "096dd52f.5078067a.12bd0b37.54fab061"; rakuten_items = "ctsmatch"; rakuten_genreId = "0"; rakuten_size = "600x200"; rakuten_target = "_blank"; rakuten_theme = "gray"; rakuten_border = "on"; rakuten_auto_mode = "on"; rakuten_genre_title = "off"; rakuten_recommend = "on"; rakuten_ts = "1564150772461";</script>
            <script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script>
            <br />
            <br />

            <a href="https://hb.afl.rakuten.co.jp/hsc/15ad7610.dd0330c7.153a970c.72d4af97/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjowLCJjYXQiOiIxMjAiLCJiYW4iOiIxNDIxNzk5In0%3D" target="_blank" rel="nofollow noopener noreferrer" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hsb/15ad7610.dd0330c7.153a970c.72d4af97/?me_id=2100001&me_adv_id=1421799&t=pict" border="0" style="margin:2px" alt="" title=""></a>
            <a href="https://hb.afl.rakuten.co.jp/hsc/18e813e9.4befbde2.153a970c.72d4af97/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjowLCJjYXQiOiIxIiwiYmFuIjoiMzczNDI3In0%3D" target="_blank" rel="nofollow noopener noreferrer" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hsb/18e813e9.4befbde2.153a970c.72d4af97/?me_id=2101008&me_adv_id=373427&t=pict" border="0" style="margin:2px" alt="" title=""></a>
        </p>
    </div>
