@{
    ViewData["Title"] = "バーコードの一括変換";
}

    <div class="text-center">
        <h1 class="display-4">バーコードの一括変換にようこそ！</h1>
        <p>
            アップロードしたExcelファイル(xlsx)に含まれているバーコードタグ部分にバーコードの画像を埋め込みます。<br />
            タグには「{JAN13:1234567890123}」のように、バーコードの種類：バーコードのデータを記して、{}で囲みます。<br />
        </p>
        <p>
            <form asp-controller="Home" enctype="multipart/form-data" asp-action="Index" method="post">
                ファイル:<input id="SourceFile" type="file" name="BarcodeSourceFile"/> <button type="submit">変換</button>
            </form>
        </p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
